@font-face {
    font-family: 'Hurme Geometric Sans No.3';
    src: local('Hurme Geometric Sans No.3 Regular'), local('Hurme-Geometric-Sans-No.3-Regular'),
        url('HurmeGeometricSans3-Regular.woff2') format('woff2'),
        url('HurmeGeometricSans3-Regular.woff') format('woff'),
        url('HurmeGeometricSans3-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }