.nav-ul {
  text-decoration: none;
  font-size: 26px;
  list-style-type: none;
}

.nav-ul li {
  margin-bottom: 16px;
}

.nav-ul li Link {
  color: black;
  font-weight: 600;
}
.menu {
	display: flex;
	align-items: center;
	border-color: #02b989;
	color: #fff;
	font-weight: bold;
}
.menu span {margin: auto;}
/* shs start*/
.ant-drawer-body {
	padding-right: 0px !important;
}