.heading_1 {
  width: 100%;
  text-align: center;
}
.heading_1 h2 {
  font-size: 50px;
  color: #fff;
  position: relative;
}
.heading_1 h2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 58%;
  height: 2px;
  background: #02b989;
}

/* ---------for2---------- */
.heading_2 {
  width: 100%;
  text-align: center;
}
.heading_2 h2 {
  font-size: 50px;
  color: #fff;
  position: relative;
}
.heading_2 h2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 64%;
  height: 2px;
  background: #02b989;
}

/* ---------for3---------- */
.heading_3 {
  width: 100%;
  text-align: center;
}
.heading_3 h2 {
  font-size: 50px;
  color: #fff;
  position: relative;
}
.heading_3 h2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 77%;
  height: 2px;
  background: #02b989;
}

/*-------------- image animation ------------------- */
.img-container {
  display: block;
  position: relative;
  /* padding-top: 5%; */
}

.img-bag {
  aspect-ratio: 4/3;
  width: 100%;
}

.img-container:hover::before {
  width: 150px;
  height: 120px;
  opacity: 1;
  visibility: visible;
}

.img-container::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  left: 10px;
  top: 10px;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

.img-container:hover::after {
  width: 150px;
  height: 120px;
  opacity: 1;
  visibility: visible;
}

.img-container::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  right: 10px;
  bottom: 10px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
/* ------------------button add------------------- */
.view-button {
  position: absolute;
  width: 100px;
  color: white;
  background-color: #02b989;
  left: 90px;
  top: 120px;
  padding: 4px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.img-container:hover .view-button {
  opacity: 1;
}
